/*.quarto-title-block .quarto-title{
/*  background-image: url("../img/logo_hex.png");*/
/*  background-size: 150px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-bottom: 80px;
  padding-top: 80px;
/*  background-origin: content-box;*/

/*
}*/
