.quarto-title-block .quarto-title{
  background-image: url("../img/logo_hex.png");
  background-size: 150px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-bottom: 180px;
  padding-top: 10px;
  text-align: center;
/*  background-origin: content-box;*/


}
